body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u71 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:10px;
  top:282px;
  width:111px;
  height:111px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
