body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:689px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:689px;
}
#u42 {
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:21px;
  top:16px;
  width:309px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:21px;
  top:214px;
  width:71px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
