body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:776px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:776px;
}
#u49 {
  position:absolute;
  left:2px;
  top:380px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
