body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:633px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:633px;
}
#u79 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:132px;
  top:231px;
  width:100px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
