body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:717px;
}
#u70 {
  position:absolute;
  left:2px;
  top:350px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:6px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
