body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u51 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:163px;
  top:69px;
  width:61px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:229px;
  top:69px;
  width:61px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
