body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u74 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:7px;
  top:-6px;
  width:69px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u76 {
  position:absolute;
  left:27px;
  top:11px;
  width:13px;
  height:19px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
