body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1624px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1624px;
}
#u46 {
  position:absolute;
  left:2px;
  top:804px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:6px;
  top:0px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:6px;
  top:76px;
  width:181px;
  height:194px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
