body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:684px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:684px;
}
#u59 {
  position:absolute;
  left:2px;
  top:334px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:83px;
  top:8px;
  width:69px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
