body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u38 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:108px;
  top:67px;
  width:81px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:138px;
  top:546px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
