body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:676px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:676px;
}
#u85 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:13px;
  top:86px;
  width:351px;
  height:221px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
